a { color: inherit; }
a.current { text-decoration: none; }
a.inactive { text-decoration: underline; cursor: pointer; }

.hide { visibility: hidden; }
.hide2 { display: none; }

#marks, #seals, #glyphs, #quints { text-decoration: underline; }
