a { color: inherit; }
a.current { text-decoration: none; }
a.inactive { text-decoration: underline; cursor: pointer; }

img.check { height: 18px; width: 18px; } 

/* div.footer { position: absolute; bottom: 10px; } */

.hide { visibility: hidden; }
.hide2 { display: none; }

#marks, #seals, #glyphs, #quints { text-decoration: underline; }
td { vertical-align: top; padding: 5px; }
.spacer { display: inline-block; width: 120px; }

table { border-collapse: collapse; }
#runes td ~ td { border-left: 1px solid black; }